/* Import Google Font for regular weight */
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

/* Local Bold font */
@font-face {
    font-family: 'MedievalSharpLocal';
    src: url('./assets/fonts/MedievalSharp-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* Local Italic font */
@font-face {
    font-family: 'MedievalSharpLocal';
    src: url('./assets/fonts/MedievalSharp-BookOblique.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* Local Bold Italic font */
@font-face {
    font-family: 'MedievalSharpLocal';
    src: url('./assets/fonts/MedievalSharp-BoldOblique.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    font-family: "MedievalSharp", "sans-serif";
    color: white;
    background-color: #000000;
}

.bold {
    font-family: "MedievalSharpLocal", "sans-serif";
    font-weight: bold;
}

.italic {
    font-family: "MedievalSharpLocal", "sans-serif";
    font-style: italic;
}

.bold-italic {
    font-family: "MedievalSharpLocal", "sans-serif";
    font-weight: bold;
    font-style: italic;
}

.header {
    @apply text-6xl md:text-5xl lg:text-4xl xl:text-3xl 2xl:text-2xl text-white;
}

.sub-header {
    @apply text-5xl md:text-4xl lg:text-3xl xl:text-2xl 2xl:text-xl text-white;
}

.text {
    @apply text-4xl md:text-3xl lg:text-2xl xl:text-xl 2xl:text-lg leading-8 xl:leading-10 text-white;
}

.main {
    @apply relative flex flex-col items-center justify-center min-h-screen w-full z-0 before:absolute before:inset-0 before:bg-cover before:bg-center before:z-0;
    background-color: #1c1c1c;
    background-image: url("https://www.transparenttextures.com/patterns/shley-tree-2.png");
}

.wrapper {
    @apply flex flex-col text-white min-h-[calc(100vh-100px)] z-10 justify-between items-center;
}

.black-overlay {
    @apply absolute inset-0 w-full h-full bg-black;
}


.force-black-overlay {
    display: block !important;
}

@media (max-width: 1024px) {
    .black-overlay {
        display: none;
    }
}

.arrow-button {
    @apply text-6xl lg:text-4xl xl:text-3xl text-white hover:text-gray-400;
}

body.accessibility-mode {
    background-color: #000000 !important;
    color: #ffffff !important;
    font-family: 'Helvetica Neue', Arial, sans-serif !important;
}

body.accessibility-mode .black-overlay {
    @apply opacity-100;
}

body.accessibility-mode h1,
body.accessibility-mode h2,
body.accessibility-mode h3,
body.accessibility-mode p,
body.accessibility-mode .text,
body.accessibility-mode .bold,
body.accessibility-mode .header,
body.accessibility-mode .sub-header {
    font-size: 1.5rem !important;
    font-family: Arial, sans-serif !important;
}

body.accessibility-mode button,
body.accessibility-mode a {
    font-weight: bold;
    color: #ffffff !important;
    font-family: Arial, sans-serif !important;
}


body.accessibility-mode a:focus,
body.accessibility-mode button:focus {
    outline: 3px solid;
}


body.accessibility-mode .arrow-button,
body.accessibility-mode a {
    color: #ffcc00;
}

body.accessibility-mode .arrow-button:hover,
body.accessibility-mode a:hover {
    text-decoration: none;
}