/* Import Google Font for regular weight */
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

/* Local Bold font */
@font-face {
    font-family: 'MedievalSharpLocal';
    src: url('./assets/fonts/MedievalSharp-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* Local Italic font */
@font-face {
    font-family: 'MedievalSharpLocal';
    src: url('./assets/fonts/MedievalSharp-BookOblique.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* Local Bold Italic font */
@font-face {
    font-family: 'MedievalSharpLocal';
    src: url('./assets/fonts/MedievalSharp-BoldOblique.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    font-family: "MedievalSharp", "sans-serif";
    color: white;
    background-color: #000000;
}

.bold {
    font-family: "MedievalSharpLocal", "sans-serif";
    font-weight: bold;
}

.italic {
    font-family: "MedievalSharpLocal", "sans-serif";
    font-style: italic;
}

.bold-italic {
    font-family: "MedievalSharpLocal", "sans-serif";
    font-weight: bold;
    font-style: italic;
}

.header {
    @apply text-6xl md:text-5xl lg:text-4xl xl:text-3xl 2xl:text-2xl text-white;
}

.sub-header {
    @apply text-5xl md:text-4xl lg:text-3xl xl:text-2xl 2xl:text-xl text-white;
}

.text {
    @apply text-4xl md:text-3xl lg:text-2xl xl:text-xl 2xl:text-lg leading-7 xl:leading-10 text-white;
}

.main {
    @apply relative flex flex-col items-center justify-center min-h-screen w-full z-0 before:absolute before:inset-0 before:bg-cover before:bg-center before:z-0;
}

.wrapper {
    @apply flex flex-col text-white min-h-[calc(100vh-100px)] z-10 justify-between items-center;
}

.black-overlay {
    @apply absolute inset-0 w-full h-full bg-black opacity-70;
}

.arrow-button {
    @apply text-6xl lg:text-4xl xl:text-3xl text-white hover:text-gray-400;
}
