/* MedievalSharp Regular (Book) */
@font-face {
    font-family: 'MedievalSharp';
    src: url('./assets/fonts/MedievalSharp-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* MedievalSharp Bold */
@font-face {
    font-family: 'MedievalSharp';
    src: url('./assets/fonts/MedievalSharp-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* MedievalSharp Book Oblique */
@font-face {
    font-family: 'MedievalSharp';
    src: url('./assets/fonts/MedievalSharp-BookOblique.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* MedievalSharp Bold Oblique */
@font-face {
    font-family: 'MedievalSharp';
    src: url('./assets/fonts/MedievalSharp-BoldOblique.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #EEEEEE;
    overflow-x: hidden;
}

html {
    font-family: "MedievalSharp", "sans-serif";
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}